<?xml version="1.0"?>
<!--
/**
 * Copyright © 2018 MageWorx. All rights reserved.
 * See LICENSE.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- PLUGINS: -->
    <type name="Magento\OfflinePayments\Model\Cashondelivery">
        <plugin name="mageworx_disable_cash_on_delivery" type="MageWorx\DisableCOD\Plugin\DisableCashOnDelivery"/>
    </type>
</config>